<app-testimonials></app-testimonials>
<section id="contact-section" class="gap bg-grey">
    <div class="container" [@animate]="{ value: '*', params: { y: '50px', delay: '500ms' } }">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Contact Us</h2>
                <p class="lead w-60"> To learn more about the Boston Identity difference for your IAM needs, please <a href="mailto:contact@bostonidentity.com" style="color: blue"><u>send us</u></a> an email at <strong>contact@bostonidentity.com</strong> and we'll get back to you. Thanks for your interest in choosing Boston Identity. </p>
            </div>
        </div>
    </div>
</section>
