<footer class="footer-wrapper">

    <div class="container">
        <div fxLayout="row nowrap" fxLayout.lt-md="column">
            <div fxFlex="33.33" class="footer-item">
                <div class="footer-logo">
                    <h2>Boston Identity</h2>
                </div>
                <p>An Identity Company</p>
<!--                <button mat-raised-button color="accent">Contact Us</button>-->
            </div>
            <div fxFlex="33.33" class="footer-item">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="accent">email</mat-icon>
                        <p class="text-footer"> contact@bostonidentity.com </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                        <p class="text-footer">One Broadway, 14th Floor, Kendall Square, Cambridge, MA 02142, US</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="33.33" class="footer-item">
                <div class="mt-1 ml-1">
                    <button mat-raised-button mat-lg-button color="accent">Need Help?</button>
                </div>
<!--                <div>-->
<!--                    <button mat-raised-button mat-lg-button color="accent">BUY NOW</button>-->
<!--                </div>-->
            </div>
        </div>
    </div>

</footer>
