<section id="service-section" class="services-wrappper gap">
    <div class="container" >
        <div fxLayout='column' class="text-center mb-5" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Our IAM Solutions</h2>
                <p class="lead w-60"> Plan, Build, Operate and Maintenance</p>
            </div>
        </div>
        <div fxLayout="row wrap" [@animate]="{ value: '*', params: { y: '50px', delay: '500ms' } }">
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap">
                            <i class="material-icons">
                                fingerprint
                            </i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Authentication & Federation</h4>
                        </div>
                        <div class="content-cap">
                            <p>IAM starts with SSO (Signle Sign-On), which offers simplicity and better security for businesses. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
                            devices
                        </i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Multi-Factor Authentication (MFA)</h4>
                        </div>
                        <div class="content-cap">
                            <p>MFA helps protect you by adding an additional layer of security and research shows that using 2FA greatly boosts security. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
                            web
                        </i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Web Access Management (WAM)</h4>
                        </div>
                        <div class="content-cap">
                            <p>Manage authorization for enterprise's increasingly diverse portfolio of applications spanning SaaS, public cloud, private cloud and on-prem software.  </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
                            api
                        </i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>API Security</h4>
                        </div>
                        <div class="content-cap">
                            <p>API as resource will be a norm in the world of the Internet. Enterprise IAM not only strengthens its security but brings additional capabilities to enhance digital transformation journey.</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
                            person
                        </i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Identity Management</h4>
                        </div>
                        <div class="content-cap">
                            <p>Digital identity platforms are the new imperative for both CUstomer IAM (CIAM) and Workforce Management.</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
                            contacts
                        </i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Directory Services</h4>
                        </div>
                        <div class="content-cap">
                            <p>Directory Services stay at the core of IAM. A well-implemented DS solution boost IAM solution at the ground level.</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>
