<section id="contact-section" class="gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Contact Us</h2>
                <p class="lead w-60"> To learn more about the Boston Identity difference for your IAM needs, please complete the form below. Thanks for your interest in choosing Boston Identity. </p>
            </div>
        </div>
        <form [formGroup]="contactForm">
            <div fxLayout="row wrap" fxLayout.lt-md="column">
                <div fxFlex="100">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="name" [formControl]="contactForm.controls['name']" placeholder="Your Name">
                        </mat-form-field>
                        <small *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors?.required" class="form-error-msg">*Required</small>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="email" [formControl]="contactForm.controls['email']" placeholder="Your Work Email">
                        </mat-form-field>
                        <small *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email" class="form-error-msg">*Invalid Address</small>
                    </div>
                </div>
                <div fxFlex="100">
<!--                    <div class="pb-1">-->
<!--                        <mat-form-field class="full-width">-->
<!--                            <input matInput name="company" [formControl]="contactForm.controls['company']" placeholder="Your Company">-->
<!--                        </mat-form-field>-->
<!--                        <small *ngIf="contactForm.controls.subject.touched && contactForm.controls.subject.errors?.required" class="form-error-msg">*Required</small>-->
<!--                    </div>-->
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <textarea matInput row="8" name="message" [formControl]="contactForm.controls['message']" placeholder="Message"></textarea>
                        </mat-form-field>
                        <small *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required" class="form-error-msg">*Required</small>
                    </div>
                </div>

                <div fxFlex="100"> <button mat-raised-button mat-lg-button color="accent">Send Us</button>
                </div>
            </div>
        </form>
    </div>
</section>
