<section class="home-intro-section text-center primary-bg"></section>

<div id="feature-section" class="featured-two gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5"
             [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Athena Series - Identity Solutions</h2>
                <p class="lead w-60">Our Identity Products</p>
            </div>
        </div>
        <mat-tab-group mat-align-tabs="center" [@animate]="{ value: '*', params: { y: '50px', delay: '500ms' } }">
            <mat-tab label="Athena IAM">
                <div fxLayout="row wrap">
                    <div style="margin-top: 50px;" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30"
                         fxFlex.xl="20">
                        <div class="feature-two">
                            <div class="feature-content ">
                                <h3>Based on Standard Protocols</h3>
                                <p>Athena IAM is one-stop platform to solve your problems for OS, Network Devices and
                                    Web Apps</p>
                            </div>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="80">
                        <div class="feature-two">
                            <img src="assets/images/athena-iam1.png"><br>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="80">
                        <div class="feature-two">
                            <img src="assets/images/athena-iam2.png"><br>
                        </div>
                    </div>
                    <div style="margin-top: 50px;" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30"
                         fxFlex.xl="20">
                        <div class="feature-two">
                            <div class="feature-content ">
                                <h3>Identity Lifecycle</h3>
                                <p>Life Cycle management in-a-box</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <div style="margin-top: 50px;" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30"
                         fxFlex.xl="20">
                        <div class="feature-two">
                            <div class="feature-content ">
                                <h3>MFA Available</h3>
                                <p>Various MFA approaches</p>
                            </div>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="80">
                        <div class="feature-two">
                            <img src="assets/images/athena-iam3.png"><br>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Athena PKI">
                <div fxLayout="row wrap">
                    <div style="margin-top: 50px;" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30"
                         fxFlex.xl="20">
                        <div class="feature-two">
                            <div class="feature-content ">
                                <h3>PKI Factory</h3>
                                <p>Manage your PKI certificates in one central platform</p>
                            </div>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="80">
                        <div class="feature-two">
                            <img src="../../../../assets/images/athena-pki2.png"><br>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="80">
                        <div class="feature-two">
                            <img src="assets/images/athena-pki1.png"><br>
                        </div>
                    </div>
                    <div style="margin-top: 50px;" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30"
                         fxFlex.xl="20">
                        <div class="feature-two">
                            <div class="feature-content ">
                                <h3>Core Security</h3>
                                <p>PKI security is the core feature</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
