<section id="intro-one-section" class="home-intro-section text-center primary-bg">
    <div id="videoDiv">
        <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../../../assets/videos/bg.mp4" type="video/mp4">
        </video>
    </div>
    <!--            <div id="videoMessage" class="styling">-->
    <div id="overlay" class="image-container" fxLayout="column">
        <!--        <img src="../../../../assets/videos/bg.gif" alt="Be patient..."/>-->
        <div id="videoMessage" class="styling">
            <div class="home-intro-subtitle">
                Design, Implementation & DevOps
            </div>
            <h1 class="home-intro-title">Identity & Access Management</h1>
            <p class="home-intro-text"> We help organizations in all phases to complete their IAM journey together
                with
                our passion and customer first principle. </p>
        </div>
    </div>
</section>

<div id="feature-section" class="featured-two gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">We are Specialized in IAM Services</h2>
                <p class="lead w-60">We help you capture the modern IAM roadmap, in an effective and sustainable
                    manner.</p>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">01.</span>
                    <div class="feature-content">
                        <h3>IAM Design</h3>
                        <p>IAM is tremendous to enterprise security and the resources protected. The challenging part is
                            that it includes a multitude of subdisciplines - Identity Management, Access Management,
                            Identity Governance, Privileged Access Management, Crypto Management and so forth. Each
                            enterprise will be unique and hence asking different strategies and designs to fulfill its
                            security goal.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">02</span>
                    <div class="feature-content">
                        <h3>IAM Implementation</h3>
                        <p>An IAM implementation should not be a simple project with a limited timeframe; instead, it
                            requires a formal long-term program in several phases and proper governance, which are
                            aligned to business goals. Research has shown that organizations without a well-planned
                            program spend generally 40% more on an IAM implementation than those that do have it.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">03.</span>
                    <div class="feature-content">
                        <h3>IAM Support</h3>
                        <p>A lot of enterprise decision makers can come to the erroneous conclusion that long-term
                            support for IAM system is unnecessary. Although modern IAM solutions are becoming more
                            autonomous, active involvement in IAM maintenance is still needed, especially on the aspect
                            of utilizing the data generated by the solution tools. Staying updated is also important to
                            the entire IAM solution due to the fact that information technologies are evolving rapidly
                            nowadays.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">04.</span>
                    <div class="feature-content">
                        <h3>IAM Migration</h3>
                        <p>We are in a time where a new generation of IAM solutions starting to replace old legacy IAM
                            systems. Yet, this migration job is often tougher than expected, which is largely due to the
                            requirement co-existence requirement of both the new and legacy IAM systems. The bulk and
                            complexity as well as of the gap between modern and legacy IAM solutions make the migration
                            a relatively long-term process. With an experienced partner, the review and update is much
                            less risky and more promising.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">05.</span>
                    <div class="feature-content">
                        <h3>Software Selection</h3>
                        <p>Not all softwares are built equally and each has its own PROs and CONs. A well-selected list
                            of software tools not merely save a large chunk from the organization's budget, but
                            facilitate the progress and completeness of the delivery as well. This requires a thorough
                            understanding of your current system state and the technologies available in the market. We
                            are proud to announce that Boston Identity will provide this evaluation for free to our
                            valued customers.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
